body {
    background-image: linear-gradient(45deg, rgb(0, 8, 255), rgb(1, 170, 237));
    display: flex;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

input {
    border: none;
    border-radius: 5px;
    margin: 5px;
    outline: none;
    padding: 10px;
}

.cadastro
{
    background-color: rgb(0, 102, 255);
    border: none;
    padding: 15px;
    width: 100%;
    border-radius: 10px;
    color: white;
    font-size: 15px;
}

.cadastro:hover
{
    background-color: rgb(26, 95, 122);
    transition: background-color 0.3s ease;
}

.telaCadastro
{
    background-color: rgba(0,0,0,0.6);
    border-radius: 5%;
    color: white;
    left: 50%;
    position: absolute;
    padding: 10%;
    transform: translate(-50%, -50%);
    top: 50%;
}