body 
{
    background-image: linear-gradient(45deg, rgb(0, 8, 255), rgb(1, 170, 237));
    text-align: center;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.githubs
{
    background-color: rgba(0,0,0,0.6);
    border-radius: 5%;
    color: white;
    left: 75%;
    position: absolute;
    padding: 8%;
    padding-left: 11%;
    padding-right: 11%;
    transform: translate(-75%, -50%);
    top: 50%;
}

.atalho
{
    background-color: rgb(0, 85, 255);
    border-radius: 5px;
    display: block; 
    padding: 10px;
    color: white; 
    text-decoration: none; 
}

.opcoes
{
    background-color: rgba(0,0,0,0.6);
    border-radius: 5%;
    color: white;
    left: 0%;
    position: absolute;
    padding: 10%;
    transform: translate(-0%, -50%);
    top: 50%;
}


.opcao
{
    background-color: rgb(0, 85, 255);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    padding: 10px;
    margin: 35px;
    text-decoration: none;
}

.opcao:hover
{
    background-color: rgb(26, 95, 122);
    transition: background-color 0.3s ease;
}