body 
{
    background-image: linear-gradient(45deg, rgb(0, 8, 255), rgb(1, 170, 237));
    display: flex;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.meusProdutos
{
    background-color: rgba(0,0,0,0.6);
    border-radius: 5%;
    color: white;
    left: 50%;
    position: absolute;
    padding: 10%;
    transform: translate(-50%, -50%);
    top: 50%;
}